.dashboard-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;  
  gap: 20px;
  flex-wrap: wrap;      
}

.dashboard-card {
  background-color: #f1f1f1;
  flex: 1;               
  min-width: 350px;     
  padding: 20px;
  margin: 10px;
  border: 2px solid #ccc;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

button {
  background-color: #e7e7e7;
  color: black;
  border-radius: 12px;
  border: 1px solid #999;
  padding: 6px 10px;
  margin: 4px;
}

h2, h3 {
  margin-top: 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
