

.dashboard-container {
   display: flex;
    flex-direction: row;
   justify-content: space-around;
   align-items: center;
   gap: 20px;
   column-width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.dashboard-card {
    background-color: #f1f1f1;
  margin: 10px;
    padding: 20px;

  font-size: 15px;
}

button {
   background-color: #e7e7e7; color: black;
   border-radius: 12px;

}
input[type="text"] {
    align-items: center;
   width: 90%;
   padding: 8px;
   border-radius: 2px;
   
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
   
}
 